The purpose of this function is to count the values or combination of values in an entire dataset or a subselection of the columns in a dataset. I have created this function because I couldn't find a pandas function that can count both missing and non-missing values while also looking at a combination of values (multiple columns)

In [217]:
import random
import string
import pandas as pd
import numpy as np

# requires numpy, pandas, string
# column names (optional) defined as string or list of strings
def tidy_count(df,columns=None):
    
    # subset df by columns if specified
    if columns != None:
        if type(columns) != list:
            columns = [columns]
        df = df[columns]
        
    # Find all distinct values in the dataset
    pds_allvals = pd.Series() 
    for col in df.columns.values:
        pds_allvals = pd.concat([pds_allvals,cars[str(col)]]).drop_duplicates()
    allvals = pds_allvals.tolist()
    
    na_filler=None
    # Make sure na_filler is not a value in the dataset
    while na_filler == None or na_filler in allvals:
        na_filler = ''.join(random.choices(string.digits + string.ascii_letters, k=np.random.randint(4,12)))  
            
    return(df.fillna(na_filler).groupby([str(x) for x in df.columns.values]).size().\
             reset_index().rename(columns={0 : 'count'}).\
         replace(na_filler,np.NaN).sort_values('count',ascending=False))

## Test

In [213]:
car_names = pd.DataFrame({'name' : ['Batmobile','Toyota Corolla','Bike','Bike','Batmobile'],
            'hp': [1000,120,np.nan,np.nan,900]})
car_attr = pd.DataFrame({"name": ["Bike","Toyota Corolla"], "color": ["blue","red"]})
cars = car_names.merge(car_attr,how='left',on='name')

In [214]:
tidy_count(cars)

             name      hp color  count
2            Bike     NaN  blue      2
0       Batmobile   900.0   NaN      1
1       Batmobile  1000.0   NaN      1
3  Toyota Corolla   120.0   red      1

In [215]:
tidy_count(cars,'color')

  color  count
0  blue      2
2   NaN      2
1   red      1

In [216]:
tidy_count(cars,['color','hp'])

  color      hp  count
2  blue     NaN      2
0   NaN   900.0      1
1   NaN  1000.0      1
3   red   120.0      1